<div class="marketing">
<div class="row-fluid">
<div class="ascii span3">
                                                  
                                                  
                       **                         
                       ****                       
                        ***                       
                        ***                       
                        ***                       
                        **** ****                 
                 ****   *********                 
                   *************                  
                     *********                    
                        ****                      
                        ****                      
                        ****                      
                       **********                 
                 *****************                
                    *******   ***                 
                       *******                    
                       ****                       
                     ******                       
                      **************              
                  ***************************     
           ******************       **********    
     *************     *****              *****   
     *********       *******                      
                    *******                       
                   ******* ****                   
                 ***************                  
                ***************                   
               **************                     
                *****  *****                      
                **    *****     **                
                     **************               
                    **************                
                   ********  *****                
                  ******    *****                 
                 ******    *****                  
                  *   ********                    
                       ******                     
                        ***                       
                        ***       ****            
                        ***        ****           
          *      ***    ***         ****          
         **********     ***         *****         
         *********      ***         *****         
          ******        ***                       
           ***          ***                       
                  *    ****                       
                   ** *****                       
                   ********                       
                    *******                       
                      *****                       
                       ***                        
                                                  
</div>
<div class="ascii span3">
                                                  
                                                  
                                                  
                                                  
                                                  
           *****                **                
           ******             *******             
            *****            *********            
             ****            *********            
             ****            *   ******           
      **     ******              *****            
      **    **********           *****            
     ****  ******  *****        ******            
     ************ ******        *****             
     ******************        ******             
      ****  *********          *****              
       **   ********          ******              
           *********          *****    ***        
          ************       ******   *****       
      ****************       *****   *******      
      **************        ****** *********      
       **********          **************         
        ** ******          ************           
           *****   ***    *************           
         **************   ************            
       ****************   ******  ***             
     ****************      ***     **             
     **************        *        **            
    *****  *******                  ***           
     **    *****     *               ***          
          *****    ***               ***          
         ** ***   ***                ****         
       **        ****               *****         
       **       ****   ******       ****          
      ***     ******  **  *****   ******          
      ****   ******* **    ************           
       *** ****  ******      **********           
       *******  ******        ********            
       ******   ******        ********            
       *****   *******      ***********           
     ******    ******     **************          
    ********  **** ***  *********  *******        
  ***** *********   ***********     *******       
******   ********   *********        *******      
 ****     ******     ******           ********    
    **    ******     ****               *******   
     ** ********                         *******  
     ************                         ******* 
      ****** ****                          ****** 
       ***     **                           ******
                                              ****
                                               ***
                                                  
                                                  
</div>
<div class="ascii span3">
                                                       
                                                       
                                                       
                                                       
                              ****                     
                             ******                    
                             *******         **        
                              ******       *******     
                               *****        *******    
             ***               *****         ******    
              ***  *****        ****          ******   
               ******  ***      ****              *    
           *   *****   ***      ****                   
     ***  **    ***   *****     ****                   
      ******     **  *****      ****                   
      *****          ****       ****                   
       *****        ****        ****                   
        *****      ***          ****                   
         ****    ****           ****   *               
           *    ****            ****    ****           
              **********        ****     ****          
            *************       ****     *****         
      *    ******    ****       ****    *******        
      **  *   ***    ****       ****   ********        
      ***     ***    ****        *************         
       ***   *****   ****        ************          
       ************  **** *    ************            
        *********    ***  **************               
        ***   ***   ****  ************                 
         ***  ***  *****   ***********                 
          **  *********     **    ****                 
          *************           *****  ***           
           ***********             **** *****          
            *****                  *********           
            *****                   *******            
              ***    **             ******             
             ***********           ******              
            ***********          *********             
        ***********            ***********             
  *  ************          *********  *****            
***********  ****         ********     *****           
 *******     ****                       *****       *  
  **         ****                        *****      *  
             ****                        ******     ** 
             ****                         ******    ** 
             ****                          ******  *** 
             ****                           ********** 
              ***                            ********* 
               *                              ******** 
                                               ******* 
                                                ****** 
                                                 ***** 
                                                   **  
                                                       
</div>
<div class="ascii span3">
                                                  
                                                  
                                                  
                                                  
                       *****                      
                      ******                      
                     ******                       
                     ******                       
                    **************                
                  *******   *******               
                 ******     *******               
               *******     *******                
              *****        ******                 
                          ******                  
                         ******                   
                        *****                     
                       *****                      
                      *****   *****               
                   ******************             
              ****************** *****            
               ***********       *****            
                    *****        *****            
                      ****       **********       
                      ***** *****************     
                     *************************    
           ***************************            
         ********************   ******            
           ****************     *****             
                    *******    ******             
                   *   ****    *****              
                 *     ****    *****              
                *      ************               
             ***   ****************               
             *********************                
              **************   **                 
               ****     ****                      
                        ****                      
                        ****                      
                        ****                      
                        ****                      
                        ****                      
                **      ****                      
                 ***   *****                      
                  **** *****                      
                   ********                       
                   ********                       
                    *******                       
                    *******                       
                    ******                        
                     ****                         
                                                  
</div>
</div>
</div>
<div class="row-fluid">
<div class="span12">
<div class="marketing">
<p>
本ページは、<strong><a href="http://yapcasia.org/2012/">YAPC::Asia2012</a></strong>にて発表/告知しました、
<a href="http://www.gaiax.co.jp/jp/">株式会社ガイアックス</a>と、<a href="https://codeiq.jp/">CodeIQ</a>のコラボ企画ページです。
</p>

<p>
以下のURLから見ることができる問題に挑戦してください。<br>
<a href="https://codeiq.jp/rule.php?challenge_id=51" target="_blank">https://codeiq.jp/rule.php?challenge_id=51</a>
</p>

<p>
挑戦頂いたコードは、弊社にて確認後、<br>
同一の環境でベンチマーク測定し、上記に公開していきます。
</p>
</div>
<h3>【ご注意】</h3>
<ul>
    <li>言語は、perl, ruby, PHP, javascript, pythonにて受け付けます</li>
    <li>言語間の速度の差については、揃える努力をしていません。<br>どの言語を選ぶかも含めて速さを追及してください。</li>
    <li>更新は残念ながら手動となっております^^;　一日数回<b>鋭意！</b>更新いたします。</li>
    <li>挑戦頂いたコードは、公開させて頂きます。<br>コードの公開にご了承いただけない場合は、非公開にいたしますので<br>以下までご連絡ください。</li>
    <li>その他のお問い合わせについても以下までお願いします。<br><br>お問い合わせ先：<a href="mailto:codeiq@gaiax.com">codeiq@gaiax.com</a></li> </ul>
<h3>【FAQ】</h3>
<ul>
  <li>Q. 不正解の場合は？i<br />
      A. 不正解の方はリストにニックネームを掲載します。再度codeをお送り頂ければ更新します。<br />
      晒してしまっているようで申し訳ないですが他に手段なくご容赦ください。。</li>
    <li>随時追加いたします。</li>
</ul>
<h3>【登録済みファイル一覧】</h3>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>File</th>
      <th>Recent score</th>
      <th>Console</th>
    </tr>
  </thead>
  <tbody>
  <% @scripts.each do |script| %>
      <tr>
        <td><%= link_to script.file, "/#{script.id}" %></td>
        <td style="text-align:right;"><%= '%0.5f' % script.recent %></td>
        <td>
          <%= link_to '/' + script.id.to_s, :class => 'btn btn-mini btn-primary' do %>
            <i class="icon-file"></i> 詳細を見る
          <% end %>
          <a href="<%= GITHUB_SCRIPTS_URL_BASE %>/<%= @script.dir %>/<%= @script.file %>" class="btn btn-info" target="_blank">
            <i class="icon-folder-open icon-white"></i> コードを見る
          </a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<h3>【殿堂】</h3>
<p>名・珍コード紹介のコーナーですｗ</p>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Cosole</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>dankogai.js</td><td>09/28 08:03</td>
        <td>
            <a href="https://github.com/gx-hackers/yapc2012/blob/master/scripts/yapc2012_hall_of_fame/dankogai1.js" class="btn btn-mini btn-primary"><i class="icon-file"></i> codeを見る </a>
        </td>
    </tr>
    <tr><td>dankogai.pl</td><td>09/28 08:04</td>
        <td>
            <a href="https://github.com/gx-hackers/yapc2012/blob/master/scripts/yapc2012_hall_of_fame/dankogai2.pl" class="btn btn-mini btn-primary"><i class="icon-file"></i> codeを見る </a>
        </td>
    </tr>
  </tbody>
</table>

<br/>
<h3>【不正解の方リスト】</h3>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>lobos さん</td><td>10/03 11:36</td></tr>
    <tr><td>santzen さん</td><td>09/30 17:14</td></tr>
    <tr><td>Legokichi さん</td><td>09/30 15:57</td></tr>
    <tr><td>きくちマイコン さん</td><td>09/30 14:43</td></tr>
    <tr><td>kuniyoshi さん</td><td>09/30 01:06</td></tr>
  </tbody>
</table>
<br />
<p>
本アプリケーションについてpull request歓迎です！<br />
<a href="https://github.com/gx-hackers/yapc2012">https://github.com/gx-hackers/yapc2012</a>
</p>
<div class="fb-comments" data-href="http://yapc.pjeuler.com/dir/yapc2012" data-num-posts="2" data-width="940" data-colorscheme="dark"></div>

